In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_json('Telco-Customer-Churn.json')
dados

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [3]:
dados.customerID

0       0002-ORFBO
1       0003-MKNFE
2       0004-TLHLJ
3       0011-IGKFF
4       0013-EXCHZ
           ...
7262    9987-LUTYD
7263    9992-RRAMN
7264    9992-UJOEL
7265    9993-LHIEB
7266    9995-HOTOH
Name: customerID, Length: 7267, dtype: object

In [4]:
dados.Churn

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
7262     No
7263    Yes
7264     No
7265     No
7266     No
Name: Churn, Length: 7267, dtype: object

In [5]:
dados['customer']

0       {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3       {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4       {'gender': 'Female', 'SeniorCitizen': 1, 'Part...
                              ...
7262    {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
7263    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7264    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7265    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7266    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
Name: customer, Length: 7267, dtype: object

In [6]:
dados.phone

0          {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1         {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2          {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3          {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4          {'PhoneService': 'Yes', 'MultipleLines': 'No'}
                              ...
7262       {'PhoneService': 'Yes', 'MultipleLines': 'No'}
7263      {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
7264       {'PhoneService': 'Yes', 'MultipleLines': 'No'}
7265       {'PhoneService': 'Yes', 'MultipleLines': 'No'}
7266    {'PhoneService': 'No', 'MultipleLines': 'No ph...
Name: phone, Length: 7267, dtype: object

In [7]:
dados.internet

0       {'InternetService': 'DSL', 'OnlineSecurity': '...
1       {'InternetService': 'DSL', 'OnlineSecurity': '...
2       {'InternetService': 'Fiber optic', 'OnlineSecu...
3       {'InternetService': 'Fiber optic', 'OnlineSecu...
4       {'InternetService': 'Fiber optic', 'OnlineSecu...
                              ...
7262    {'InternetService': 'DSL', 'OnlineSecurity': '...
7263    {'InternetService': 'Fiber optic', 'OnlineSecu...
7264    {'InternetService': 'DSL', 'OnlineSecurity': '...
7265    {'InternetService': 'DSL', 'OnlineSecurity': '...
7266    {'InternetService': 'DSL', 'OnlineSecurity': '...
Name: internet, Length: 7267, dtype: object

In [8]:
dados.account

0       {'Contract': 'One year', 'PaperlessBilling': '...
1       {'Contract': 'Month-to-month', 'PaperlessBilli...
2       {'Contract': 'Month-to-month', 'PaperlessBilli...
3       {'Contract': 'Month-to-month', 'PaperlessBilli...
4       {'Contract': 'Month-to-month', 'PaperlessBilli...
                              ...
7262    {'Contract': 'One year', 'PaperlessBilling': '...
7263    {'Contract': 'Month-to-month', 'PaperlessBilli...
7264    {'Contract': 'Month-to-month', 'PaperlessBilli...
7265    {'Contract': 'Two year', 'PaperlessBilling': '...
7266    {'Contract': 'Two year', 'PaperlessBilling': '...
Name: account, Length: 7267, dtype: object

In [9]:
dados_customer = pd.json_normalize(data = dados.customer)
dados_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [10]:
dados_phone = pd.json_normalize(data = dados.phone)
dados_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [11]:
dados_internet = pd.json_normalize(data = dados.internet)
dados_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [12]:
dados_account = pd.json_normalize(data = dados.account)
dados_account

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [15]:
def normalize_json(dataframe):
    return_dataframe = pd.DataFrame()
    for column in list(dados.columns[2:]):
        dataframe_column = pd.json_normalize(dataframe[column])
        return_dataframe = pd.concat([return_dataframe, dataframe_column], axis=1)
    
    return pd.concat([dataframe[list(dados.columns[:2])], return_dataframe], axis=1)

In [16]:
dados = normalize_json(dados)
dados

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [18]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [19]:
dados.value_counts()

customerID  Churn  gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  MultipleLines     InternetService  OnlineSecurity       OnlineBackup         DeviceProtection     TechSupport          StreamingTV          StreamingMovies      Contract        PaperlessBilling  PaymentMethod              Charges.Monthly  Charges.Total
0002-ORFBO  No     Female  0              Yes      Yes         9       Yes           No                DSL              No                   Yes                  No                   Yes                  Yes                  No                   One year        Yes               Mailed check               65.60            593.3            1
6614-VBEGU  No     Female  0              Yes      No          24      Yes           No                DSL              No                   Yes                  No                   No                   Yes                  Yes                  Month-to-month  Yes               Bank transfer (automatic)  69.45            1614.05          1
6637-KYRCV  No     Female  0              Yes      Yes         5       No            No phone service  DSL              No                   Yes                  No                   No                   No                   No                   Month-to-month  Yes               Electronic check           30.50            167.2            1
6635-MYYYZ  Yes    Female  0              No       No          30      Yes           No                DSL              Yes                  Yes                  Yes                  Yes                  Yes                  Yes                  One year        No                Bank transfer (automatic)  85.35            2530.4           1
6635-CPNUN  No     Male    0              Yes      No          28      Yes           Yes               Fiber optic      No                   Yes                  Yes                  No                   Yes                  No                   Month-to-month  No                Credit card (automatic)    96.60            2684.35          1
                                                                                                                                                                                                                                                                                                                                                    ..
3374-TTZTK  No     Male    0              Yes      No          52      Yes           No                Fiber optic      Yes                  Yes                  Yes                  Yes                  Yes                  Yes                  Two year        Yes               Electronic check           106.30           5487             1
3374-PZLXD  No     Male    0              No       No          34      Yes           No                No               No internet service  No internet service  No internet service  No internet service  No internet service  No internet service  Month-to-month  No                Mailed check               19.70            675.6            1
3374-LXDEV  Yes    Female  0              No       No          13      Yes           Yes               Fiber optic      No                   Yes                  Yes                  Yes                  No                   No                   Month-to-month  No                Electronic check           89.40            1132.35          1
3373-YZZYM  No     Male    0              Yes      Yes         1       Yes           No                No               No internet service  No internet service  No internet service  No internet service  No internet service  No internet service  Month-to-month  No                Mailed check               19.20            19.2             1
9995-HOTOH  No     Male    0              Yes      Yes         63      No            No phone service  DSL              Yes                  Yes                  Yes                  No                   Yes                  Yes                  Two year        No                Electronic check           59.00            3707.6           1
Length: 7267, dtype: int64

In [22]:
for coluna in dados.columns:
    print('******')
    print(dados[coluna].value_counts())

******
0002-ORFBO    1
6614-VBEGU    1
6637-KYRCV    1
6635-MYYYZ    1
6635-CPNUN    1
             ..
3374-TTZTK    1
3374-PZLXD    1
3374-LXDEV    1
3373-YZZYM    1
9995-HOTOH    1
Name: customerID, Length: 7267, dtype: int64
******
No     5174
Yes    1869
        224
Name: Churn, dtype: int64
******
Male      3675
Female    3592
Name: gender, dtype: int64
******
0    6085
1    1182
Name: SeniorCitizen, dtype: int64
******
No     3749
Yes    3518
Name: Partner, dtype: int64
******
No     5086
Yes    2181
Name: Dependents, dtype: int64
******
1     634
72    369
2     246
3     207
4     185
     ...
38     60
39     59
44     54
36     50
0      11
Name: tenure, Length: 73, dtype: int64
******
Yes    6560
No      707
Name: PhoneService, dtype: int64
******
No                  3495
Yes                 3065
No phone service     707
Name: MultipleLines, dtype: int64
******
Fiber optic    3198
DSL            2488
No             1581
Name: InternetService, dtype: int64
******
No                     3608
Yes                    2078
No internet service    1581
Name: OnlineSecurity, dtype: int64
******
No                     3182
Yes                    2504
No internet service    1581
Name: OnlineBackup, dtype: int64
******
No                     3195
Yes                    2491
No internet service    1581
Name: DeviceProtection, dtype: int64
******
No                     3582
Yes                    2104
No internet service    1581
Name: TechSupport, dtype: int64
******
No                     2896
Yes                    2790
No internet service    1581
Name: StreamingTV, dtype: int64
******
No                     2870
Yes                    2816
No internet service    1581
Name: StreamingMovies, dtype: int64
******
Month-to-month    4005
Two year          1743
One year          1519
Name: Contract, dtype: int64
******
Yes    4311
No     2956
Name: PaperlessBilling, dtype: int64
******
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: PaymentMethod, dtype: int64
******
20.05     65
19.85     46
19.90     46
19.70     45
19.55     45
          ..
23.45      1
116.55     1
106.85     1
68.55      1
67.85      1
Name: Charges.Monthly, Length: 1585, dtype: int64
******
           11
20.2       11
19.75       9
19.55       9
19.9        9
           ..
272         1
1426.45     1
371.6       1
6786.4      1
3707.6      1
Name: Charges.Total, Length: 6531, dtype: int64

In [23]:
dados.Churn.value_counts()

No     5174
Yes    1869
        224
Name: Churn, dtype: int64

In [26]:
dados = dados[dados['Churn']!= '']
dados.reset_index(drop = True, inplace = True)

In [27]:
dados.Churn.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64